* {
  font-family: sans-serif;
  line-height: 1.618em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  margin-top: 3em;
}

body.modal-open {
  /* hide scrolling when modal open */
  overflow: hidden;
}

h1,
h2,
h3 {
  color: black;
}

header,
main,
footer {
  margin: 0 auto;
  max-width: 800px;
}

@media screen and (max-width: 850px) {
  header,
  main {
    margin: 0 0.5em;
  }
}

header {
  padding: 2em 0;
}

header h1 {
  font-size: 3em;
}

header span {
  font-size: 1.5em;
  color: black;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  background: black;
}

nav a {
  padding: 0.5em 2em;
  text-decoration: none;
  color: white;
}

nav a:hover {
  background: yellow;
}

@media screen and (max-width: 750px) {
  nav {
    display: flex;
    flex-flow: column;
  }
  nav a {
    display: none;
  }
  nav::before {
    content: "SHOW MENU";
    color: white;
    background: black;
    font-weight: bold;
    padding: 0.5em 2em;
  }
  nav.open::before {
    content: "HIDE MENU";
  }
  nav.open a {
    display: block;
  }

  nav ::selection {
    color: inherit;
    background: transparent;
  }
}

section {
  margin: 1em 0;
  padding-top: 3em;
  min-height: 20em;
}

section > p {
  margin: 1em 0;
}

section ul {
  padding-left: 1.5em;
}

span.live {
  cursor: pointer;
  border-bottom: 1px dashed red;
}
span.live:hover {
  color: yellow;
}

#main img {
  width: 100%;
  height: auto;
}

#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 1em;
}

#projects article {
  background: yellow;
  padding: 1em;
}

#projects article img {
  width: 100%;
  border: 1px solid black;
}

#projects button {
  display: none;
}

@media screen and (max-width: 40em) {
  #projects {
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
    width: 60vw;
    min-width: 22em;
    margin: 1em auto;
  }

  #projects button {
    display: inline-block;
  }

  #projects article p {
    display: none;
  }

  #projects article.expanded p {
    display: block;
  }
}

@media screen and (max-width: 25em) {
  #projects {
    width: auto;
    min-width: unset;
  }
}

#slider ::selection {
  color: inherit;
  background: transparent;
}

#slider-frame {
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 0 0 5px black;
  position: relative;
}

#slider-prev,
#slider-next {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  padding: 1em;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 2px black;
  transition: 0.5s;
  cursor: pointer;
}

#slider-prev:hover,
#slider-next:hover {
  background: rgba(255, 255, 255, 0.3);
}

#slider-prev {
  left: 0;
  flex-direction: row;
  align-items: center;
}

#slider-next {
  right: 0;
  flex-direction: row-reverse;
  align-items: center;
}

#slider-frame {
  background: yellow;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 15em;
}

#slider-frame [data-src] {
  display: none;
}

#slider-caption {
  margin-top: 5px;
  border-radius: 3px;
  border: 1px solid yellow;
  padding: 0.2em 0.5em;
  font-size: 0.8em;
  text-align: center;
  transition: 0.5s;
}

#slider-caption.flash {
  transition: 0s;
  background: yellow;
}

footer {
  margin-top: 2em;
  margin-bottom: 1em;
  background: black;
  color: white;
  padding: 1em 0;
  text-align: center;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-open #backdrop {
  display: flex;
}

#modal {
  width: 80vw;
  height: 80vh;
  background: white;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px black;
}

#modal h4 {
  float: left;
}

#modal button {
  float: right;
  background: white;
  padding: 5px 10px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

#modal button:hover {
  color: white;
  background: yellow;
}

#modal #modal-content {
  clear: both;
  padding-top: 1em;
}
